h1{
  font-weight: bold;
  font-family: Georgia, Times, "Times New Roman", serif;  
}

footer {
    border-top: 5px solid black;

}

.follow {
    font-family: Georgia, Times, "Times New Roman", serif; 
    font-size: 14px;
    font-weight: bold;
    padding: 1px;
    margin-bottom: 1px;

}

.navbar {
    border-bottom: 5px solid black;
}

.navbar-brand {
    font-weight: bold;
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: black;

    
}

.fa {
    font-size: 30px;
    padding: 2px;
}


